/*
    CP 1190 Final Project
    Prepared by: Emma Troke
    Submit Date: 12 / 4 / 17

    Filename: saltwater_styles.css

*/
/* HTML Styles*/
html {background: rgb(50, 52, 61);
    font-family: 'Oxygen', sans-serif;
}
/* Layout Styles */
html, body, footer {width: 98%;margin-left: 1%}

div.body {margin: 1% 2% 1% 0px;
    float: left;
    width: 62%;
}

div.body > article {margin: 20px;}

div.header {max-width: 100%;
    height: 25%;
}

div.bodyfull h3 {margin-top: 5%;}

/* Navigation Styles */
nav#horizontal > ul {width: 100%;
    height: 35px;
    margin: 0px;
    margin-top: -20px;
    padding: 0px;
}

nav#horizontal li {display: inline;
    width: 100%;
    padding: 3px 80px;
    margin: 0px;
}

nav#horizontal a {width: 100%;
    padding: 10px 10px;
}

nav#horizontal > ul {text-align: center;
    background-color: rgb(246, 255, 154);
}

nav#horizontal li {font-size: 18pt;
    vertical-align: middle;
}
nav#horizontal a {text-decoration: none;
    color: rgb(61, 131, 192)
}

nav#horizontal a:hover, nav#horizontal a:active {color: rgb(100, 240, 180);}

/* Body Styles */
body {background: url(bubble-bg2.png);
    background-size: cover;
    border: 1px solid rgb(109, 146, 182);
}

div.body {border-top: 1px solid rgb(109, 146, 182);
    border-bottom: 1px solid rgb(109, 146, 182);
    background-color: rgba(255, 255, 255, 0.9);
    background: url(white-bg.png);
}

article h2 {text-align: center;
    color: rgb(5, 87, 142);
    letter-spacing: 2px;
    border-bottom: 1px solid rgb(5, 87, 142);
}

article p {margin: 2%;
    text-align: justify;
}

article h2#soaps, article h2#massage, article h2#bombs {text-align: left;
    border-bottom: 1px solid rgb(5, 87, 142);
}

article {font-size:1.2em;
    color: rgb(65, 84, 61);

}

article h3 ~ p{text-align: center;}
aside {font-weight: bold;}
article span {color: rgb(0, 191, 152);
    font-weight: bold;
}

/* Canvas Styles */
#snakeCanvas {
    text-align:left;
}

canvas {
    display: inline;
}

/* Form Styles */
section {display: inline;
    width: 35%;
    height: 300px;
    float: right;
    overflow: auto;
    margin-top: 1%;
}

section.form h3 {
    text-align: center;
    color: rgb(5, 87, 142);
    font-size: 20pt;
}
section.form {background-color: white;
    border: 1px solid rgb(109, 146, 182);
}

fieldset {background-color: white;
    padding: 10px}

select, input, textarea {margin: 2% 0px;}
article > form input, article > form select {width: 100%;}
article > form input.button {width: 5%;
    margin: 10px;
}
/*Syles from main.css */
#map {
    float: right;
    width: 500px;
    height: 400px}

/* Image Styles */
#slides {
    text-align: right;
}

/* Footer Styles */
/*footer {clear: both;
    padding-top: 10px;
    background-color: rgb(246, 255, 154);
    background: url(yellow-bg.png);
    text-align: center;
    color: rgb(5, 87, 142);
    font-variant: small-caps;
    font-style: bold;
    font-size: 16pt;
    border: 1px solid rgb(255, 255, 77);
}*/